@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font-family: 'Concert One', cursive; */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    background-size: cover;
    background-position: center;
    
}
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
    left:0;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
   
}

.logo img{
    width: 10vh;
    margin-top:5px;
    margin-left: 100px;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    font-size: 25px;
    padding: 10px ;
  
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    margin-right: 50px;
}
.navbar a{
    text-decoration: none;
    color: white;
    position: relative;
}
.navbar ul li:hover{
    font-size: 27px;
}
.navbar a::before{
    position:absolute;
    content: '';
    width: 0;
    transition: 0.3s;
    top:35px;
    left:0;
    background: linear-gradient(120deg,#ffd28f,#ed7878);
    height: 3px;
}
.navbar a:hover::before,
.navbar a.active::before{
    width: 100%;
}
.Home{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}
.text1{
   display: flex;
   height: fit-content;
   flex-direction: column;
    margin-top: 200px;
    color: white;
    margin-left: 40px;
}
.image{
    margin: 0px 10px;
}
.image img{
    border-radius: 40vh;
    height: 75vh;
    margin-top: 10px ;
    margin-left: 100px;
}
.image img{
    background-image: 
      radial-gradient(
        farthest-corner circle at 50% 50% in oklab, 
        oklch(0% 0 350) 33% 0%, oklch(63% 0 95) 100%
      )
    ;
  }
.intro{
    font-size: 34px;
    text-align: left;
    font-family: 'Satisfy', cursive;
}
.name{
    font-size:75px ;
    font-family: 'Abril Fatface', cursive;
}
.name {
    background: linear-gradient(120deg,#8fb3ff,#ed78ab);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition :1s;
}
.name:hover{
    background: linear-gradient(60deg,#ed78ab,#8fb3ff);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.work{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    font-weight:bold;
    margin-top: 20px;
}
.cont{
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg,#d00c0c,#271279); 
    box-shadow: 6px 6px 5px #3c00ff,-10px -5px 5px rgb(255, 55, 0) ;
    color: white;
    border:none;
    border-radius: 20px;
    transition: 1s;
}
.cont:hover{
    background: linear-gradient(90deg,#271279,#d00c0c); 
    box-shadow: 10px 6px 5px rgb(255, 55, 0),-10px -5px 5px #3c00ff ;
    cursor: pointer;
}
.image img{
    box-shadow: 6px 6px 10px #3c00ff,-10px -5px 10px rgb(255, 55, 0) ;
    transition: 0.3s;
}
.image img:hover{
    box-shadow: 10px 6px 10px rgb(255, 55, 0),-10px -5px 10px #3c00ff ;
    height: 78vh;
}
.about{
    height: 100vh;
    width: 100vw;
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.myimg img{
    height:70vh;
    margin-left: 100px;
    margin-top: 220px;
    border-radius: 25px;
    box-shadow: 6px 6px 10px #696865,-10px -5px 10px rgb(49, 49, 51) ;
}
.text2 .des,.abouthead{
    color: white;
}
.text2{
    margin-top: 220px;
     margin-left: 70px;
     display: flex;
     flex-direction: column;
     font-size: 30px;
     font-family: 'Poppins', sans-serif;
}
.text2 .abouthead{
    font-size: 50px;
    margin-left: 10%;
    font-weight: 700;
    color: #ff004f;
    text-shadow: 4px 4px 20px #9e697a;
    text-decoration: underline;
}
.skill{
    list-style: #ff004f;
}
